

<div class="col-lg-12 text-center">
    <h1>WHATHT</h1>

        <div class="row">
            <div class="col-md-4">
                <h2>Column1</h2>
            </div>

            <div class="col-md-4">
                <h2>Column2</h2>
            </div>

            <div class="col-md-4">
                <h2>Column3</h2>
            </div>
        </div>
<%= link_to 'log in', new_user_session_url %>
</div>
