<div class="col-lg-12 text-center">
<h1 style="font-family: 'Frijole', cursive; color: red;">Create New Post</h1>
</div>

<%= render 'form', post: @post %>

<div class="col-lg-12 text-center">
<%= link_to 'Back', posts_path %>
</div>
